:root {
  --laranja: #F75F1C;
  --azul: #021DA2;
  --preto: #333E32;
  --creme: #FFF8E1;
  --roxo: #8C6F7D;
  --branco: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--creme);
  font-family: 'Poppins', sans-serif;
  color: var(--preto);
}

#sobre {
  scroll-margin-top: 150px;
}

#portfolio {
  scroll-margin-top: 30px;
}

#noticias {
  scroll-margin-top: 30px;
}

#contato {
  scroll-margin-top: 30px; 
}

header {
  width: 100%;
  background-color: var(--creme);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 10;
}

header img {
  height: 40px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

nav a {
  text-decoration: none;
  color: var(--preto);
  font-weight: 600;
  font-size: 1.05rem;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--laranja);
}

.bt-laranja {
  background-color: var(--laranja);
  color: var(--branco);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.bt-laranja2 {
  background-color: var(--laranja);
  color: var(--branco);
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.bt-laranja:hover {
  background-color: #e1530c;
}

.bt-bege {
  background-color: #f5e9d0;
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.bt-azul {
  background-color: var(--azul);
  color: var(--branco);
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.bt-azul:hover {
  opacity: 0.9;
}

.bt-borda-laranja {
  border: 2px solid var(--laranja);
  color: var(--laranja);
  background: transparent;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.bt-borda-laranja:hover {
  background-color: var(--laranja);
  color: var(--branco);
}

.link-botao {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: normal;
}

.home {
  text-align: center;
  padding: 80px 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-home {
  width: 100%;
  max-width: 1024px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-home h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 85px;
}

.titulo-home span.laranja {
  color: var(--laranja);
}

.titulo-home span.azul {
  color: var(--azul);
}

.home p {
  color: var(--roxo);
  font-size: 1.25rem;
  max-width: 700px;
  margin: 30px auto 50px;
}

.botoes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.metricas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #E0E0E0;
  width: 100%;
}

.metrica h2 {
  color: var(--azul);
  font-weight: 800;
  font-size: 3rem;
}

.metrica p {
  font-size: 1rem;
}

.sobre {
  max-width: 1400px;
  margin: 120px 0 120px 130px; 
  padding: 0 40px;
  box-sizing: border-box;
}

.botao-sobre {
  background: #E7E6F7;
  color: var(--azul);
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
}

.titulo-sobre {
  font-size: 52px;
  color: var(--azul);
  margin: 30px 0;
}

.texto-sobre {
  font-size: 17px;
  line-height: 1.8;
  color: #5C4D4D;
  margin-bottom: 20px;
}

.pilares {
  background-color: #FFF8E1;
  text-align: center;
  padding: 80px 5%;
}

.titulo-pilares {
  font-size: 42px;
  color: #332E32;
  margin-bottom: 70px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 120px;
  flex-wrap: wrap;
}

.card {
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 40px 30px;
  max-width: 350px;
  text-align: left;
}

.card .icone {
  font-size: 32px;
  margin-bottom: 20px;
}

.card h3 {
  color: var(--azul);
  font-size: 20px;
}

.card p {
  color: #5C4D4D;
  line-height: 1.6;
  font-size: 15px;
}

.estrutura-section {
  background-color: #fff6e5;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.estrutura-container {
  width: 90%;
  max-width: 1200px;
  text-align: center;
  color: #333;
}

.tag {
  background-color: #FFE3D0;
  color: var(--laranja);
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 20px;
}

.estrutura-header h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.estrutura-header p {
  color: #555;
  max-width: 750px;
  margin: 0 auto 60px;
}

.estrutura-quadro {
  background-color: #fff;
  border-radius: 10px;
  padding: 60px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.presidencia {
  margin-bottom: 60px;
}

.diretorias {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.diretoria p, .presidencia p, .membros p {
  margin-top: 10px;
  font-size: 0.95rem;
  color: #555;
}

.linha-divisao {
  border: none;
  border-top: 1px solid #ddd;
  margin: 40px 0;
}

section.portfolio {
  padding: 80px 15%;
  text-align: center;
}

.title {
  background-color: #FFE4C2;
  color: var(--laranja);
  padding: 6px 16px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
}

.portfolio h2 {
  font-size: 42px;
  margin: 1px 0 10px;
}

.portfolio h2 span {
  color: var(--laranja);
}

.portfolio p {
  color: #777;
  font-size: 16px;
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  
}

.cards2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 40px;
  margin-top: 40px;
  
}

.card .img {
  height: 160px;
  background-color: #ccc;
}

.card-content {
  padding: 20px;
}


.details-link {
  color: #F36B2D;
  font-weight: 600;
  text-decoration: none;
}

.noticias-section {
  padding: 80px 15%;
  text-align: center;
}

.tag-topo {
  background: #E7E6F7;
  color: var(--azul);
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
}

.titulo-noticias {
  margin-top: 15px;
  font-size: 2.8rem;
  font-weight: 800;
}

.titulo-noticias .azul {
  color: var(--azul);
}

.subtitulo-noticias {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #555;
  font-size: 1.1rem;
}

.contato {
  background-color: var(--azul);
  color: #fff;
  text-align: center;
  padding: 80px 20px;
}

.contato h2 { 
  font-size: 2.5rem; 
  margin: 8px 0; 
} 

.contato h2 span { 
  color: #ff7b00; 
}

.conteudo-contato {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.formulario {
  background: #fff;
  color: #333;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formulario input,
.formulario textarea {
  background: #fff7ed;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.formulario button {
  background: #ff7b00;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.formulario button:hover {
  background: var(--laranja);
}

.info-contato {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  text-align: left;
}

.card-info {
  background: #1425B0;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-info i {
  background: #ff7b00;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.redes {
  padding-top: 25px;
  border-top: 1.5px solid #FFFFFF33;
}

.titulo-redes {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.icones-redes {
  display: flex;
  gap: 12px;
}

.icones-redes a {
  width: 45px;
  height: 45px;
  background: #091CE6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.icones-redes a i {
  color: white;
  font-size: 20px;
}

.icones-redes a:hover {
  background: #0F2CFF;
  transform: translateY(-3px);
}

.mapa-container {
  width: 320px;
  height: 150px;
  overflow: hidden;
  border-radius: 12px;
}

.mapa-uern {
  width: 100%;
  height: 350px;
  border: 0;
  border-radius: 12px;
  display: block;
}

.footer {
  background-color: #332E32;
  color: #FFFFFF;
  padding: 40px 20px;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  max-width: 1000px;
  margin: auto;
}

.footer-logo img {
  width: 130px;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links h4 {
  color: #fff;
}

.footer-links ul {
  list-style: none;
}

.footer-links a {
  color: #ddd;
  text-decoration: none;
  font-size: 0.95rem;
}

.footer-links a:hover {
  color: #ff7b00;
}

@media (max-width: 1100px) {
  .titulo-home {
    width: 90%;
    height: auto;
  }
  .titulo-home h1 {
    font-size: 60px;
    line-height: 65px;
  }
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .titulo-home h1 {
    font-size: 42px;
    line-height: 48px;
  }

  .home p {
    font-size: 1.05rem;
  }

  .metricas {
    flex-direction: column;
    gap: 40px;
    padding: 80px 0;
  }

  .titulo-sobre {
    font-size: 36px;
  }

  .titulo-pilares {
    font-size: 32px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

}